In [33]:
import pandas as pd

In [ ]:
help(pd.Series.iloc)

#Toma de contacto

In [ ]:
diccionario = [{'a':2,'b':4,'c':9},{'a':6,'b':12,'c':19}]

In [ ]:
df=pd.DataFrame(diccionario)
df

   a   b   c
0  2   4   9
1  6  12  19

#Series

In [ ]:
#Crea una serie
serie = pd.Series([2,6,-1,8,9,2.3],index=['a','b','c','d','e','f'])
serie

a    2.0
b    6.0
c   -1.0
d    8.0
e    9.0
f    2.3
dtype: float64

In [ ]:
#Borra serie
serie2=serie.drop(['a','e'])
serie2

b    6.0
c   -1.0
d    8.0
f    2.3
dtype: float64

In [ ]:
#Seleccion
serie[['b','a']]

b    6.0
a    2.0
dtype: float64

In [ ]:
#Asignacion
serie['b']=55
serie

a     2.0
b    55.0
c    -1.0
d     8.0
e     9.0
f     2.3
dtype: float64

In [ ]:
#Filtros - pulsar alt+126 ~
#Valores menores a 4
serie[~(serie>4)]

a    2.0
c   -1.0
f    2.3
dtype: float64

In [ ]:
serie[(serie<4)]

a    2.0
c   -1.0
f    2.3
dtype: float64

In [ ]:
serie

a    2.0
b    6.0
c   -1.0
d    8.0
e    9.0
f    2.3
dtype: float64

In [ ]:
#valor entre intervalo - alt gr + 1 |
serie[(serie<0) | (serie>4)]

b    6.0
c   -1.0
d    8.0
e    9.0
dtype: float64

In [ ]:
#Valores nulos al unir series con diferentes indices
serie3 = pd.Series([7,5,-4],index=['b','c','e'])
serie3

b    7
c    5
e   -4
dtype: int64

In [ ]:
serie

a    2.0
b    6.0
c   -1.0
d    8.0
e    9.0
f    2.3
dtype: float64

In [ ]:
serie4 = serie + serie3
serie4

a     NaN
b    13.0
c     4.0
d     NaN
e     5.0
f     NaN
dtype: float64

In [ ]:
serie4 = serie3 + serie
serie4

a     NaN
b    13.0
c     4.0
d     NaN
e     5.0
f     NaN
dtype: float64

In [ ]:
#Operaciones con metodos de relleno
serie.add(serie3,fill_value=0)

a     2.0
b    13.0
c     4.0
d     8.0
e     5.0
f     2.3
dtype: float64

In [ ]:
serie4=serie.sub(serie3,fill_value=0)
serie4

a     2.0
b    -1.0
c    -6.0
d     8.0
e    13.0
f     2.3
dtype: float64

In [ ]:
serie.mul(serie3,fill_value=0)

a     0.0
b    42.0
c    -5.0
d     0.0
e   -36.0
f     0.0
dtype: float64

In [ ]:
serie.div(serie3)

a         NaN
b    0.857143
c   -0.200000
d         NaN
e   -2.250000
f         NaN
dtype: float64

#Dataframe

In [34]:
datos ={ 'Alumno':['M Mar','Lucia','Jose','Eva'],
        'Nota':[8,9,6,10]}
df=pd.DataFrame(datos,columns=['Alumno','Nota'])
df

  Alumno  Nota
0  M Mar     8
1  Lucia     9
2   Jose     6
3    Eva    10

In [36]:
#Borrar columna
df.drop('Nota',axis=1)
df

  Alumno  Nota
0  M Mar     8
1  Lucia     9
2   Jose     6
3    Eva    10

In [37]:
#Mostrar parte del dataframe
df.head(2)

  Alumno  Nota
0  M Mar     8
1  Lucia     9

In [38]:
df.tail(2)

  Alumno  Nota
2   Jose     6
3    Eva    10

In [56]:
df_ejemplo=df.sample(3)
df_ejemplo

  Alumno  Nota
1  Lucia     9
0  M Mar     8
3    Eva    10

In [54]:
#Ordenar dataframe
df.sort_index()

  Alumno  Nota
0  M Mar     8
1  Lucia     9
2   Jose     6
3    Eva    10

In [57]:
df_ejemplo.sort_index()

  Alumno  Nota
0  M Mar     8
1  Lucia     9
3    Eva    10

In [58]:
df.sort_values(by='Nota')

  Alumno  Nota
2   Jose     6
0  M Mar     8
1  Lucia     9
3    Eva    10

In [59]:
df.sort_values(by='Alumno')

  Alumno  Nota
3    Eva    10
2   Jose     6
1  Lucia     9
0  M Mar     8

In [64]:
#Asigna rango a las entradas
df=df.rank()
df

   Alumno  Nota
0     4.0   2.0
1     3.0   3.0
2     2.0   1.0
3     1.0   4.0

In [65]:
df.sort_values(by='Nota')

   Alumno  Nota
2     2.0   1.0
0     4.0   2.0
1     3.0   3.0
3     1.0   4.0