In [17]:
import pandas as pd

In [ ]:
help(pd.Series.iloc)

#Toma de contacto

In [ ]:
diccionario = [{'a':2,'b':4,'c':9},{'a':6,'b':12,'c':19}]

In [ ]:
df=pd.DataFrame(diccionario)
df

   a   b   c
0  2   4   9
1  6  12  19

#Series

In [ ]:
#Crea una serie
serie = pd.Series([2,6,-1,8,9,2.3],index=['a','b','c','d','e','f'])
serie

a    2.0
b    6.0
c   -1.0
d    8.0
e    9.0
f    2.3
dtype: float64

In [ ]:
#Borra serie
serie2=serie.drop(['a','e'])
serie2

b    6.0
c   -1.0
d    8.0
f    2.3
dtype: float64

In [ ]:
#Seleccion
serie[['b','a']]

b    6.0
a    2.0
dtype: float64

In [ ]:
#Asignacion
serie['b']=55
serie

a     2.0
b    55.0
c    -1.0
d     8.0
e     9.0
f     2.3
dtype: float64

In [ ]:
#Filtros - pulsar alt+126 ~
#Valores menores a 4
serie[~(serie>4)]

a    2.0
c   -1.0
f    2.3
dtype: float64

In [ ]:
serie[(serie<4)]

a    2.0
c   -1.0
f    2.3
dtype: float64

In [ ]:
serie

a    2.0
b    6.0
c   -1.0
d    8.0
e    9.0
f    2.3
dtype: float64

In [ ]:
#valor entre intervalo - alt gr + 1 |
serie[(serie<0) | (serie>4)]

b    6.0
c   -1.0
d    8.0
e    9.0
dtype: float64

In [ ]:
#Valores nulos al unir series con diferentes indices
serie3 = pd.Series([7,5,-4],index=['b','c','e'])
serie3

b    7
c    5
e   -4
dtype: int64

In [ ]:
serie

a    2.0
b    6.0
c   -1.0
d    8.0
e    9.0
f    2.3
dtype: float64

In [ ]:
serie4 = serie + serie3
serie4

a     NaN
b    13.0
c     4.0
d     NaN
e     5.0
f     NaN
dtype: float64

In [ ]:
serie4 = serie3 + serie
serie4

a     NaN
b    13.0
c     4.0
d     NaN
e     5.0
f     NaN
dtype: float64

In [ ]:
#Operaciones con metodos de relleno
serie.add(serie3,fill_value=0)

a     2.0
b    13.0
c     4.0
d     8.0
e     5.0
f     2.3
dtype: float64

In [ ]:
serie4=serie.sub(serie3,fill_value=0)
serie4

a     2.0
b    -1.0
c    -6.0
d     8.0
e    13.0
f     2.3
dtype: float64

In [ ]:
serie.mul(serie3,fill_value=0)

a     0.0
b    42.0
c    -5.0
d     0.0
e   -36.0
f     0.0
dtype: float64

In [ ]:
serie.div(serie3)

a         NaN
b    0.857143
c   -0.200000
d         NaN
e   -2.250000
f         NaN
dtype: float64

#Dataframe

In [18]:
datos ={ 'Alumno':['M Mar','Lucia','Jose','Eva'],
        'Nota':[8,9,6,10]}
df=pd.DataFrame(datos,columns=['Alumno','Nota'])
df

  Alumno  Nota
0  M Mar     8
1  Lucia     9
2   Jose     6
3    Eva    10

In [ ]:
#Borrar columna
df.drop('Nota',axis=1)
df

  Alumno  Nota
0  M Mar     8
1  Lucia     9
2   Jose     6
3    Eva    10

In [ ]:
#Mostrar parte del dataframe
df.head(2)

  Alumno  Nota
0  M Mar     8
1  Lucia     9

In [ ]:
df.tail(2)

  Alumno  Nota
2   Jose     6
3    Eva    10

In [ ]:
df_ejemplo=df.sample(3)
df_ejemplo

  Alumno  Nota
1  Lucia     9
0  M Mar     8
3    Eva    10

In [ ]:
#Ordenar dataframe
df.sort_index()

  Alumno  Nota
0  M Mar     8
1  Lucia     9
2   Jose     6
3    Eva    10

In [ ]:
df_ejemplo.sort_index()

  Alumno  Nota
0  M Mar     8
1  Lucia     9
3    Eva    10

In [ ]:
df.sort_values(by='Nota')

  Alumno  Nota
2   Jose     6
0  M Mar     8
1  Lucia     9
3    Eva    10

In [ ]:
df.sort_values(by='Alumno')

  Alumno  Nota
3    Eva    10
2   Jose     6
1  Lucia     9
0  M Mar     8

In [ ]:
#Asigna rango a las entradas
df=df.rank()
df

   Alumno  Nota
0     4.0   2.0
1     3.0   3.0
2     2.0   1.0
3     1.0   4.0

In [ ]:
df.sort_values(by='Nota')

   Alumno  Nota
2     2.0   1.0
0     4.0   2.0
1     3.0   3.0
3     1.0   4.0

#Entrada / Salida - Lectura / Escritura

In [ ]:
#grabar DataFrame
df.to_csv('misDatos.csv',index=False,columns=['Alumno','Nota'])

In [ ]:
#leer DataFrame
mis_datos=pd.read_csv('misDatos.csv',header=None,nrows=2)
mis_datos.columns=['Alumno','Nota']
mis_datos.head()

   Alumno  Nota
0  Alumno  Nota
1   M Mar     8

In [ ]:
#leer DataFrame
mis_datos=pd.read_csv('misDatos.csv')
#mis_datos.columns=['Alumno','Nota']
mis_datos.head(2)

  Alumno  Nota
0  M Mar     8
1  Lucia     9

In [ ]:
#grabar en excel
df.to_excel('misDatos.xlsx',index=False,sheet_name='MiHoja')

In [ ]:
#leer de excel
mis_datos_excel = pd.read_excel('misDatos.xlsx')
mis_datos_excel

  Alumno  Nota
0  M Mar     8
1  Lucia     9
2   Jose     6
3    Eva    10

#Seleccion

In [ ]:
df

  Alumno  Nota
0  M Mar     8
1  Lucia     9
2   Jose     6
3    Eva    10

In [ ]:
#Seleccion por indice
df[1:3]

  Alumno  Nota
1  Lucia     9
2   Jose     6

In [ ]:
#Por posicion fila columna
df.iloc[[1],[1]]

   Nota
1     9

In [ ]:
#Por etiqueta, fila por indice y columna por valor
df.loc[[2],['Alumno']]

  Alumno
2   Jose

In [ ]:
#Filtro
df_mayor_9=df[df['Nota']>8]
df_mayor_9

  Alumno  Nota
1  Lucia     9
3    Eva    10

#Obtener informacion del dataset

In [19]:
#Nos da numero de filas y columnas 
df.shape

(4, 2)

In [20]:
#Nos informa del indice
df.index

RangeIndex(start=0, stop=4, step=1)

In [21]:
#Columnas
df.columns

Index(['Alumno', 'Nota'], dtype='object')

In [22]:
#Nos da informacion
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Alumno  4 non-null      object
 1   Nota    4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 192.0+ bytes

In [23]:
#Nos indica los valores no nulos
df.count()

Alumno    4
Nota      4
dtype: int64

In [24]:
#Suma de valores
df.sum()

Alumno    M MarLuciaJoseEva
Nota                     33
dtype: object

In [25]:
df.cumsum()

              Alumno  Nota
0              M Mar     8
1         M MarLucia    17
2     M MarLuciaJose    23
3  M MarLuciaJoseEva    33

In [26]:
df

  Alumno  Nota
0  M Mar     8
1  Lucia     9
2   Jose     6
3    Eva    10

In [27]:
df.min()

Alumno    Eva
Nota        6
dtype: object

In [28]:
df.max()

Alumno    M Mar
Nota         10
dtype: object

In [29]:
#Resumen con estadisticos basicos
df.describe()

            Nota
count   4.000000
mean    8.250000
std     1.707825
min     6.000000
25%     7.500000
50%     8.500000
75%     9.250000
max    10.000000

In [31]:
#Media
df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

Nota    8.25
dtype: float64

In [32]:
df.median()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Nota    8.5
dtype: float64