In [5]:
import pandas as pd
import numpy as np

Escribe una funcion a la que le podamos pasar un diccionario con notas de alumnos y nos devuelva la nota minima, la maxima y la media.

In [1]:
def dame_estadisticas(notas):
  notas = pd.Series(notas)
  estadisticas = pd.Series([notas.min(),notas.max(),notas.mean()],index=['Minima','Maxima','Media']) #podemos usar tambien notas.describe()
  return estadisticas

In [3]:
notas ={'Jose':6,'M Mar':7,'Lucia':9,'Eva':9}
dame_estadisticas(notas)

Minima    6.00
Maxima    9.00
Media     7.75
dtype: float64

Crea una serie a partir de una matriz con indices

In [6]:
#Uso un array de numpy
datos = np.array(['Seat','Audi','Fiat','Renault'])
indices=[1,2,3,4]
serie=pd.Series(datos,index=indices)
serie

1       Seat
2       Audi
3       Fiat
4    Renault
dtype: object

Crea una serie a partir de un diccionario

In [7]:
diccionario = {'rojo':3,'verde':5,'azul':4,'amarillo':10}
serie=pd.Series(diccionario)
serie

rojo         3
verde        5
azul         4
amarillo    10
dtype: int64

Crea una serie a partir de una lista

In [8]:
lista = [1,2,4,6,2,3,9]
serie = pd.Series(lista,index=['a','b','c','d','e','f','g'])
serie

a    1
b    2
c    4
d    6
e    2
f    3
g    9
dtype: int64

Busca informacion en la web para crear una serie usando la funcion linspace de numpy

In [10]:
serie = pd.Series(np.linspace(25,55,8)) #del 2 al 14 con 6 valores
serie

0    25.000000
1    29.285714
2    33.571429
3    37.857143
4    42.142857
5    46.428571
6    50.714286
7    55.000000
dtype: float64

Crea una serie con numeros al azar entre 0 y 1

In [12]:
serie = pd.Series(np.random.rand(10))
serie

0    0.147950
1    0.411311
2    0.346889
3    0.483497
4    0.535848
5    0.127411
6    0.832416
7    0.403757
8    0.993305
9    0.008358
dtype: float64

Muestra los elementos de posiciones 1, 3 y 5 de la serie anterior

In [13]:
serie[[1,3,5]]

1    0.411311
3    0.483497
5    0.127411
dtype: float64

Muestra los 2 primeros elementos de la serie anterior

In [14]:
serie.head(2)

0    0.147950
1    0.411311
dtype: float64

Muestra los 2 ultimos elementos de la serie anterior

In [15]:
serie.tail(2)

8    0.993305
9    0.008358
dtype: float64