In [ ]:
import pandas as pd

Muestra un DataFrame con los datos de la siguiente tabla:

```
  Mes     Ingresos     Gastos
  Enero   21500        17000
  Febrero 17600        15400
  Marzo   25000        19200
  Abril   34800        22500
```

Escribe una funcion que reciba el DataFrame del ejercicio anterior y devuelva el beneficio total de cada mes (Ingresos - Gastos).

En github he subido el fichero titanic.csv (obtenido de kaggle.com) y realizar las siguientes operaciones.


1.   Generar un DataFrame con los datos del fichero indicado.
2.   Mostrar sus dimensiones, el numero de datos que contiene, nombres de las columnas y filas, tipos de datos de las columnas y mostrar las 5 primeras filas y las 5 ultimas.
3.   Mostrar los datos del pasajero con identificador 121.
4.   Mostrar las filas impares del DataFrame.
5.   Cuantas personas sobrevivieron y murieron, indicar porcentaje.
6.   Personas que estaban en segunda clase por orden alfabetico.
7.   Eliminar los pasajeros que no tengan registrada su edad o sea nula.
8.   Porcentaje de personas que murieron por cada clase.
9.   Edad media de hombres y mujeres que viajaban en cada clase.
10.  AÃ±adir nueva columna que indique si el pasajero era menor de edad o no.
11.  Mostrar el porcentaje de menores y mayores de edad que sobrevivieron.